.login-form-container{
    display: flex;
    width: 50%;
    height: 500px;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 1%;
    box-sizing: border-box;
    padding: 35px ;
    gap: 10px;
    background-color: var(--White);
}

.authTitle{

}