:root {
    --Green: #38D13E; 
    --Black: #000000;
    --Grey:#E8EBEE;
    --White:#ffffff;
  }
.authContainer{
    display: flex;
    width: 100%;
    height: 700px;
}
.authContent{
    display: flex;
    width: 50%;
}
.centered{
    flex-direction: column;
    align-items: center;
}

